<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.websocket.chat.dao.UserMapper">
    <select id="getProfile" resultType="com.websocket.chat.dto.user_info">
        select user_id, user_state, user_name, user_dept, user_sid from user;
    </select>
</mapper>